<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>KlantenServlet</servlet-name>
        <servlet-class>com.optiek.controller.KlantenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKlantServlet</servlet-name>
        <servlet-class>com.optiek.controller.DeleteKlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductenServlet</servlet-name>
        <servlet-class>com.optiek.controller.ProductenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistoryServlet</servlet-name>
        <servlet-class>com.optiek.controller.KlantHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.optiek.controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>klantTestServlet</servlet-name>
        <servlet-class>com.optiek.controller.KlantTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.optiek.controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>com.optiek.controller.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTestServlet</servlet-name>
        <servlet-class>com.optiek.controller.InsertTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPurchaseServlet</servlet-name>
        <servlet-class>com.optiek.controller.InsertPurchaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KlantenServlet</servlet-name>
        <url-pattern>/Klanten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKlantServlet</servlet-name>
        <url-pattern>/DeleteKlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductenServlet</servlet-name>
        <url-pattern>/Producten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistoryServlet</servlet-name>
        <url-pattern>/PurchaseHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>klantTestServlet</servlet-name>
        <url-pattern>/KlantTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/Tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTestServlet</servlet-name>
        <url-pattern>/InsertTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPurchaseServlet</servlet-name>
        <url-pattern>/InsertPurchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/rs_optiek</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
